/*Falta meter el normalizer*/

/* * {
    outline: 1px solid red;
} */

body {
  padding: 15px;
}
.hidden {
  display: none !important;
}

/*Aquí empieza la cabecera*/

header {
  display: flex;
  flex-direction: row;
}

#logo {
  width: 105px;
  align-self: flex-start;
}

#nombre {
  display: inline-block;
  align-self: center;
  margin: auto;
  font-size: 35px;
  font-family: "Yellowtail", cursive;
  color: #d9a23d;
}

/*Aquí empieza el menú*/

nav {
  padding: 1em;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li a {
  color: #653b23;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
}
nav li {
  margin: 0 10px;
}
nav li a:hover {
  background: #d9a23d;
  color: white;
}
.seleccionado {
  color: #653b23;
  background: #d9a23d;
}
.derecha {
  margin-left: auto;
}

li.derecha a {
  display: inline;
}

#menu1 img {
  width: 100px;
  height: 100px;
}
#menu1 .card {
  border: 5px solid burlywood;
  border-radius: 15px;
}
#menu1 .card:hover {
  border: 5px solid black;
  border-radius: 15px;
}
#menu1 a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

#ventanaLogin{
  border: 5px solid burlywood;
  border-radius: 15px;
}
#cabeceraArticulos {
  margin-right: 25px;
}
.modal-body {
  text-align: center;
}
.modal-body input {
  text-align: center;
}
input[type="text"] {
  text-align: center;
}


.cabeceraArticulo {
  height: 25px !important;
}

/*Aquí empieza el section*/

section {
  border: 5px solid burlywood;
  height: 70vh;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
}

/*Apartado del carrusel*/
#carrusel {
  display: flex;
}
.carrusel {
  width: 300px;
  height: 250px;
  margin: 50px auto 25px;
  border-radius: 15px;
  outline: 5px solid burlywood;
  outline-offset: 10px;
}

#resultado {
  overflow-x: hidden;
  overflow-y: scroll;
}

#resultado > div div {
  height: 150px;
}

/* .row{
display: flex;
vertical-align: middle;
} */

/*Este es el texto que sale debajo del carrusel*/
#texto-explicativo {
  /*falta poner el texto de la familia que pone en el proyecto*/
  text-align: center;
  padding: 15px;
}
/*Aquí empieza el footer*/
footer {
  border: 5px solid burlywood;
  height: 8vh;
  margin: 0 auto;
  border-radius: 15px;
}
